@model MovieCreateViewModel

@{
ViewData["Title"] = "Add Movie";
}
@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            asp-fallback-src="~/scripts/lib/jquery/jquery-validate/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            asp-fallback-src="~/scripts/lib/jquery/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>">
}
<form asp-controller="Movie" asp-action="create" enctype="multipart/form-data">
    <div>
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" />
        <span asp-validation-for="@Model.Title"></span>

        <label asp-for="@Model.Genre"></label>
        <input asp-for="@Model.Genre" />
        <span asp-validation-for="@Model.Genre"></span>

        <label asp-for="@Model.ReleaseYear"></label>
        <input asp-for="@Model.ReleaseYear" type="number" min="1900"/>
        <span asp-validation-for="@Model.ReleaseYear"></span>

        <label asp-for="@Model.VideoIdentifier"></label>
        <input asp-for="@Model.VideoIdentifier" />
        <span asp-validation-for="@Model.VideoIdentifier"></span>

        <label asp-for="@Model.PosterIdentifier"></label>
        <input asp-for="@Model.PosterIdentifier" />
        <span asp-validation-for="@Model.PosterIdentifier"></span>

        <button type="submit">Add Movie</button>
    </div>
</form> 
    
<div>
    <a href="@Url.Action(nameof(MovieController.Index))">Back to Movie List</a>
</div>
   