@model MovieListViewModel

@{
    ViewData["Title"] = "Movie List";
 }
 
<p>
    <a href="@Url.Action(nameof(MovieController.Create))">Add new movie</a>
</p>

 <ul>
    @foreach (var movie in Model.Movies)
    {
        <li>
            <p>
                <a asp-action="@nameof(MovieController.Details)" asp-route-id="@movie.Id">
                    @movie.Title 
                </a>
                (@movie.ReleaseYear)
            </p>
            <img alt="@movie.Title" src="https://i.ytimg.com/vi_webp/@movie.PosterIdentifier/movieposter.webp" width="100" />
            <br />
            <span><strong>Genre:</strong> @movie.Genre</span>
            <hr />
        </li>        
    }
</ul>
