@model MovieListViewModel

@{
    ViewData["Title"] = "Movies";
 }
 
<p class="text-right mb-4">
    @Html.ActionLink("Add New Movie", nameof(MovieController.Create), null,null, new { @class = "btn btn-primary" })
</p>

<div class="movie-list-container">
    @foreach (var item in Model.Movies)
    {
        <div class="movie-card">
            <img src="https://i.ytimg.com/vi_webp/@item.PosterIdentifier/movieposter.webp" class="movie-card-poster" alt="Poster for @item.Title" />
            <div class="movie-card-body">
                <div>
                    <h5 class="movie-card-title" title="@item.Title">@item.Title</h5>
                    <div class="movie-card-details">
                        <p><strong>Year:</strong> @item.ReleaseYear</p>
                        <p><strong>Genre:</strong> @item.Genre</p>
                    </div>
                </div>

            </div>
            <a href="movie/@item.Id"  class="movie-card-action">View Movie Details</a>
        </div>
    }
</div>
